.form {
  margin: auto;
  padding: 2em;
  outline: solid 4px var(--c-primary);
}

.form-item {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5em;
}

.form-input {
  padding: 0.5em 1em;
  border: solid 1px var(--outline, var(--c-primary));
  outline: none;
}

.form-input-error {
  border: solid 2px var(--c-error);
}

.form-error {
  margin-top: 0.5em;
  color: var(--c-error);
}

.form-submit {
  margin-top: 1em;
  align-self: flex-end;
  --btn-bg: var(--c-primary);
}
