* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em 2em;
}

/*  */

.collapsed {
  display: none;
}

.highlight-error {
  box-shadow: inset 0 0 0.5em 1px rgb(245, 95, 95);
}

.link {
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1em;
}
