:root {
  --c-action: #ffab00;
  --c-actLight: #ffdd4b;
  --c-actDark: #c67c00;
  --c-error: #d82200;
  --c-errLight: #ff5e33;
  --c-errDark: #9e0000;
  --c-success: #09aa6f;
  --c-sucLight: #57dd9e;
  --c-sucDark: #007a43;
  --c-primary: #0d47a1;
  --c-pLight: #5472d3;
  --c-pDark: #002171;
  --c-secondary: #64dd17;
  --c-sLight: #9cff57;
  --c-sDark: #1faa00;
  --c-white: #fff;
  --c-black: #000;
  --c-shadow: var(--c-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#root {
  background-color: var(--c-white);
  color: var(--c-black);
  min-height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  padding: 2rem 3em;
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: 1em;
}

/* COMPONENTS */

.card {
  margin: 1em 0;
  padding: 1em;
  background-color: #fff;
}

.btn {
  border: none;
  outline: none;
  padding: 1em 2em;
  background-color: var(--primary, var(--c-primary));
  color: var(--secondary, var(--c-white));
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--c-sDark);
}

.link:hover {
  color: var(--c-action);
}

.link:active {
  color: var(--c-actLight);
}

/* STYLES */

.action {
  --primary: var(--c-action);
  --secondary: var(--c-black);
}

.error {
  --primary: var(--c-error);
  --secondary: var(--c-white);
}

.success {
  --primary: var(--c-success);
  --secondary: var(--c-white);
}

/* MODIFIERS */

.collapsed {
  display: none;
}
