* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#root {
  min-height: 100vh;
  font-family: 'Recursive', sans-serif;
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: 1em;
}

.list {
  list-style-type: none;
}

/* COMPONENTS */

.card {
  margin: 1em 0;
  padding: 1em;
  box-shadow: 0 0 1em var(--shadow, #888);
}

/* MODIFIERS */

.collapsed {
  display: none;
}

.highlight-error {
  box-shadow: inset 0 0 0.5em 1px rgb(245, 95, 95);
}
