* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 2em;
}

:not(.h) > * + * {
  margin-top: 1em;
}

/* COMPONENTS */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.list {
  list-style-type: none;
}

/* NAV */

/* MAIN */

/* MODIFIERS */

.collapsed {
  display: none;
}

.highlight-error {
  box-shadow: inset 0 0 0.5em 1px rgb(245, 95, 95);
}

.link {
  text-decoration: none;
}
