:root {
  --c-action: #ffab00;
  --c-actLight: #ffdd4b;
  --c-actDark: #c67c00;
  --c-error: #e83621;
  --c-errLight: #ff6c4c;
  --c-errDark: #ad0000;
  --c-success: #09aa6f;
  --c-sucLight: #57dd9e;
  --c-sucDark: #007a43;
  --c-primary: #0d47a1;
  --c-pLight: #5472d3;
  --c-pDark: #002171;
  --c-secondary: #4dd129;
  --c-sLight: #87ff5f;
  --c-sDark: #009f00;
  --c-white: #eee;
  --c-whDark: #ccc;
  --c-whLight: #fff;
  --c-black: #111;
  --c-blDark: #000;
  --c-blLight: #222;
  --c-shadow: var(--c-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: var(--c-white);
  color: var(--c-black);
  min-height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  padding: 2rem 3em;
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: 1em;
  line-height: 1.5;
}

/* COMPONENTS */

.card {
  margin: 1em 0;
  padding: 1em;
  background-color: var(--c-whLight);
  border-radius: 0.5em;
}

.btn {
  border: none;
  outline: none;
  width: fit-content;
  padding: 0.75em 1.5em;
  background-color: var(--primary, var(--c-primary));
  color: var(--secondary, var(--c-white));
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-wide {
  width: 8em;
  height: 2.5em;
  padding: 0;
}

.btn:hover {
  background-color: var(--primary-hover, var(--c-pDark));
  color: var(--secondary-hover, var(--c-whDark));
}

.btn:active {
  background-color: var(--primary-active, var(--c-pLight));
  color: var(--secondary-active, var(--secondary));
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--c-sDark);
  cursor: pointer;
}

.link:hover {
  color: var(--c-action);
}

.link:active {
  color: var(--c-actLight);
}

/* - Form - */

.form-item {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.form-input {
  padding: 0.5em 1em;
  border: solid 1px var(--border-color, var(--c-primary));
  outline: none;
}

.form-input-wide {
  width: 25em;
}

.form-input:focus {
  outline: solid 1px var(--border-active-color, var(--c-pLight));
}

.form-input-error {
  --border-color: var(--c-error);
  outline: solid 1px var(--border-color);
}

.form-error {
  margin-top: 0.5em;
  color: var(--c-error);
}

.form-submit {
  margin-top: 1em;
  align-self: flex-end;
  --btn-bg: var(--c-primary);
}

/* STYLES */

.action {
  --primary: var(--c-action);
  --primary-hover: var(--c-actDark);
  --primary-active: var(--c-actLight);
  --secondary: var(--c-black);
}

.error {
  --primary: var(--c-error);
  --primary-hover: var(--c-errDark);
  --primary-active: var(--c-errLight);
  --secondary: var(--c-black);
}

.success {
  --primary: var(--c-success);
  --primary-hover: var(--c-sucDark);
  --primary-active: var(--c-sucLight);
  --secondary: var(--c-white);
}

.navigation {
  --primary: var(--c-secondary);
  --primary-hover: var(--c-action);
  --primary-active: var(--c-actLight);
  --secondary: var(--c-black);
}

/* MODIFIERS */

.collapsed {
  display: none;
}
