* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#root {
  min-height: 100vh;
  font-family: 'Recursive', sans-serif;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  padding: 2rem 3em;
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: 1em;
}

.list {
  list-style-type: none;
}

/* COMPONENTS */

.card {
  margin: 1em 0;
  padding: 1em;
  box-shadow: 0 0 1em var(--shadow, #888);
}

.btn {
  border: none;
  outline: none;
  padding: 1em 2em;
  background-color: var(--btn-bg, royalblue);
  color: var(--btn-color, #fff);
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
}

/* MODIFIERS */

.collapsed {
  display: none;
}

.highlight-error {
  box-shadow: inset 0 0 0.5em 1px rgb(245, 95, 95);
}
