:root {
  --c-action: #fe5d26;
  --c-error: #bb4430;
  --c-success: #26a96c;
  --c-primary: #29339b;
  --c-secondary: #74a4bc;
  --c-accent: #2bc016;
  --c-white: #eee;
  --c-black: #333;
  --c-shadow: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#root {
  background-color: var(--c-white);
  color: var(--c-black);
  min-height: 100vh;
  font-family: 'Recursive', sans-serif;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  padding: 2rem 3em;
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: 1em;
}

.list {
  list-style-type: none;
}

/* COMPONENTS */

.card {
  margin: 1em 0;
  padding: 1em;
  box-shadow: 0 0 1em var(--shadow, var(--c-shadow));
}

.btn {
  border: none;
  outline: none;
  padding: 1em 2em;
  background-color: var(--btn-bg, var(--c-action));
  color: var(--btn-color, var(--c-white));
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
}

/* MODIFIERS */

.collapsed {
  display: none;
}
