.item {
    margin-left: 2em;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: transparent;
    box-shadow: inset 0 0 0 4px rgb(156, 2, 2);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - var(--axis-y, 0) * 50%);
    left: calc(50% + var(--axis-x, 0) * 50%);
    transform: translate(-50%, -50%);
}

.background {
    background-image: url("../../plot.png");
    height: 300px;
    width: 300px;
    position: relative;
}