/* Lessons */

.lesson-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.lesson-ui {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.lesson-ui-item {
  width: 7em;
}

.ui-new-unit {
  position: absolute;
  left: 50%;
  top: calc(100% + 0.5em);
  z-index: 50;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5em;
}

/* Activities */

.activity-list-item {
  position: relative;
}

.activity-header {
  display: flex;
  justify-content: space-between;
}

.activity-ui {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.activity-add-component {
  margin: 1.5em 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

/* Components */

.component-list {
  margin: 1em 0;
}

.component-text {
  width: 100%;
  height: 10em;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  resize: none;
}
