.nav {
  padding: 0 2em;
  background-color: var(--c-primary);
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.nav-item {
  display: block;
  padding: 1em 1em;
  color: var(--c-white);
  background-color: var(--c-primary);
  text-decoration: none;
}

.nav-item:not(.nav-item-active):hover {
  background-color: var(--c-secondary);
  color: var(--c-black);
}

.nav-item-active {
  background-color: var(--c-white);
  color: var(--c-primary);
  font-weight: bold;
}
