.btn {
  letter-spacing: 0.1em;
}

.question-container {
  width: fit-content;
  max-width: 50vw;
  margin: auto auto;
  padding: 4em 3em;
  outline: solid 4px var(--c-action);
}

.question-contents {
  font-size: 1.2em;
  font-weight: bold;
}

.question-interface {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}
